<link rel="stylesheet" href="/css/login.css">
<div id="body">
    <form action="/users/create-session" method="post">
        <input type="email" placeholder="Email Address" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit" class="btn" id="login-btn">Log In</button>
        <a href="">Forgotten password?</a>
        <hr>
        <button type="button" class="btn" id="cna-btn">Create New Account</button>
    </form>
</div>