<link rel="stylesheet" href="/css/signup.css">
<div id="body">
    <form action="/users/create" method="post">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Name" name="name" required>
        <input type="email" placeholder="Email Address" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder="Confirm Password" name="confirm_password" required>
        <p>People who use our service may have uploaded your contact information to Codeial. <a href="">Learn more</a>.</p>
        <p>By clicking Sign Up, you agree to our <a href="">Terms</a>, <a href="">Privacy Policy</a> and <a href="">Cookies Policy</a>. You may receive SMS notifications from us and can opt out at any time.Sign Up</p>
        <button type="submit">Sign Up</button>
    </form>
</div>