<link rel="stylesheet" href="/css/user_home.css">
<body>
    <div id="main">
        <div id="left">left</div>
        <div id="middle">
            <% if(locals.user){ %>
            <form action="/posts/create" method="post" id="new-post-form">
                <textarea name="content" placeholder='whats on your mind' cols="30" rows="3"></textarea>
                <button type="submit">Post</button>
            </form>
            <%}%>
            <div id="posts">
                <% for(let post of post_list){%>
                    <%- include('_post.ejs',{post}); %>
                <%}%>
            </div>
        </div>
        <div id="right">
            <h4>Friends</h4>
            <%for(let u of all_users){%>
                <p>
                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                </p>
            <%}%>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/home_posts.js"></script>
<script type="text/javascript" src="/js/post_comments.js"></script>