body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #ffff;
    color: black;
    header{
        color: white;
        display: flex;
        background-color: #1877f2;
        h1{
            margin: 0px;
        }
        #links{
            margin-left: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            li{
                background-color: #02254b;
                list-style: none;
                margin: 2px;
                border: 1px solid white;
                padding: 2px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    footer{
        width: 100vw;
        height: 36px;
        display: flex;
        align-items: center;
        position: absolute;
        color: white;
        background-color: #1877f2;
        top:93.75%;
        font-size: 10px;
        h1{
            margin: 0px;
        }
    }
}