body{
    #main{
        display: flex;
        width: 100%;
        height: auto;
        min-height: 87.5vh;
        background-color: #efefef;
        #left{
            height: 100%;
            width: 22%;
        }
        #middle{
            height: 100%;
            width: 56%;
            display: flex;
            flex-direction: column;
            align-items: center;
            #new-post-form{
                margin-top: 10px;
                padding: 5px;
                background-color: #ffff;
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 25px;
                textarea{
                    width: 90%;
                    margin: 5px;
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    width: 30%;
                    height: 25%;
                    background-color: #157b00;
                    color: white;
                    border:none;
                    border-radius: 25px;
                }
            }
            #posts{
                width: 100%;
                .post{
                    margin-left: 64px;
                    margin-top: 5px;
                    padding: 15px;
                    list-style: none;
                    background-color: #ffff;
                    width: 78%;
                    border-radius: 25px;
                    .delete-post{
                        margin-left: 94%;
                        a{
                            color: red;
                        }
                    }
                    .like-share-comment{
                        i{
                            margin-right: 5px;
                        }
                    }
                    .bookmark{
                        margin-left: 80%;

                    }
                    .comment{
                        form{
                            display: flex;
                            margin-top: 10px;
                            textarea{
                                width: 85%;
                                height: 25px;
                                font-size: 15px;
                                background-color: #efefef;
                                border: none;
                                border-radius: 25px;
                                &:focus{
                                    outline: none;
                                }
                            }
                            button{
                                background-color: #1877f2;
                                border: none;
                                border-radius: 25px;
                                cursor: pointer;
                                }
                            }
                            .post-comment-list{
                                ul{
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    .single-comment{
                                        display: flex;
                                        margin: 5px;
                                        margin-left: -40px;
                                        .comment-content{
                                            background-color: #cccccc;
                                            border-radius: 25px;
                                            padding-left: 10px;
                                            display: flex;
                                            flex-direction: column;
                                            width: 20%;
                                            p{
                                                margin: 0px;
                                                display: inline;
                                            }
                                            small{
                                                margin: 0px;
                                            }
                                        }
                                        .delete-comment{
                                            display: flex;
                                            align-items: center;
                                            a{
                                                color: red;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
        #right{
            height: 100%;
            width: 22%;
        }
    }
