body #main {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: #efefef; }
  body #main #left {
    height: 100%;
    width: 22%; }
  body #main #middle {
    height: 100%;
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #main #middle form {
      margin-top: 10px;
      padding: 5px;
      background-color: #ffff;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10%; }
      body #main #middle form textarea {
        width: 90%;
        margin: 5px; }
        body #main #middle form textarea:focus {
          outline: none; }
      body #main #middle form button {
        width: 30%;
        height: 25%;
        background-color: #157b00;
        color: white;
        border: none;
        border-radius: 10%; }
  body #main #right {
    height: 100%;
    width: 22%; }
